/* @import "tailwindcss"; */

.ProseMirror:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

h2.heading {
  /* @apply text-3xl font-semibold leading-loose; */
  font-size: 30px;
  line-height: 2;
  font-weight: 600;
}

h3.heading {
  /* @apply text-2xl font-semibold leading-relaxed; */
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
}

h4.heading {
  /* @apply text-xl font-semibold leading-normal; */
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}

blockquote.blockquote {
  border-left: 2px solid #3e3e3e;
  padding: 10px 20px;
  margin: 20px 10px;
}
