/* @import "tailwindcss"; */

h1.heading {
  /* @apply text-3xl font-semibold leading-loose; */
  font-size: 30px;
  line-height: 2;
  font-weight: 600;
}

h2.heading {
  /* @apply text-2xl font-semibold leading-relaxed; */
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
}

h3.heading {
  /* @apply text-xl font-semibold leading-normal; */
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}
