@import "tailwindcss";

.ProseMirror:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

h2.heading {
  @apply text-3xl font-semibold leading-loose;
}

h3.heading {
  @apply text-2xl font-semibold leading-relaxed;
}

h4.heading {
  @apply text-xl font-semibold leading-normal;
}
